.Header {
    position: fixed;
    @include center-horizontal();
    @include size(95vw, 60px);

    &--fade-in-off {
        @include fade-in-off();

        top: 0;
    }
    &--fade-in-on {
        @include fade-in-on();
        
        top: 40px;
        transition: top 1s;
    }
}