.Header {
    @include center-horizontal();
    @include size(95vw, 60px);
    
    position: fixed;
    z-index: 1;

    &--fade-in-off {
        @include fade-in-off();

        top: 0;
    }
    &--fade-in-on {
        @include fade-in-on(1.5s);
        
        top: 2.5rem;
        transition: top 1s;
    }
}

@media (max-width: 425px) {
    .Header {
        &--fade-in-on {
            top: 1.2rem;
        }
    }
}