@import 'logo';
@import 'navigation-button';

$top: 40px;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Header {
    position: fixed;
    top: 40px;
    // @include setSize(95vw, 60px);

    &--before {
        top: 0;
        opacity: 0;
    }
    &--after {
        top: $top;
        animation: fade-in 1.5s;
        transition: top 1s;
    }
    // border: 1px solid blue;
}