$NIGHTMODE_BORDER_COLOR--LOGO: hsl(161, 83%, 60%);

.Logo {
    @include center-vertical();
    
    position: absolute;

    &:hover &__underline {
        width: 100%;
        transition: width 1s;
    }

    &__text {
        text-align: center;
        font-size: 2rem;
        font-family: 'Cinzel', serif;
        letter-spacing: 3px;
    }
    
    &__underline {
        width: 0px;
        border-bottom: 1px solid black;
        transition: width 1s;
    }

    &--night-mode &__text {
        color: $NIGHTMODE_COLOR;
    }

    &--night-mode &__underline{
        border-color: $NIGHTMODE_BORDER_COLOR--LOGO;
    }
}

@media (max-width: 425px) {
    .Logo {
        &__text {
            font-size: 1.5rem;
            letter-spacing: 1.5px;
        }
    }
}