.Logo {
    @include center-vertical();
    
    position: absolute;
    display: inline-block;
    margin: auto;
    cursor: pointer;

    &__text {
        text-align: center;
        font-size: 30px;
        font-family: 'Cinzel', serif;
        letter-spacing: 3px;
    }
    
    &__underline {
        width: 0px;
        border-bottom: 1px solid black;
        transition: width 1s;
    }

    &:hover &__underline {
        width: 100%;
        transition: width 1s;
    }
}