/* variable */
// day mode
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON: hsl(234, 100%, 77%);

$NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE: hsl(0, 0%, 100%);
$NIGHTMODE_BORDER_WIDTH--NAVIGATION_BUTTON_LINE: 0.1rem;
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE: hsl(0, 0%, 100%);

/* mixin */
@mixin buttonAnimation($top, $width) {
    position: absolute;
    top: $top;
    right: 25%;
    width: $width;

    background-color: black;
    border: 1.5px solid black;
    transition: width 1s;
}

.NavigationButton {
    @include center-vertical();
    @include size(50px, 50px);
    @include circle-border();
    
    position: absolute;
    right: 0;

    background-color: white;

    &--night-mode {
        background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON;

        & div {
            border-color: $NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE;
            border-width: $NIGHTMODE_BORDER_WIDTH--NAVIGATION_BUTTON_LINE;
            background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE;
        }
    }

    &__first {
        &--off {
            @include buttonAnimation(25%, 50%);
        }
        &--on {
            @include buttonAnimation(25%, 50%);
        }
    }

    &__second {
        &--off {
            @include buttonAnimation(40%, 50%);
        }
        &--on {
            @include buttonAnimation(40%, 40%);
        }
    }

    &__third {
        &--off {
            @include buttonAnimation(55%, 50%);
        }
        &--on {
            @include buttonAnimation(55%, 30%);
        }
    }

    &__fourth {
        &--off {
            @include buttonAnimation(70%, 50%);
        }
        &--on {
            @include buttonAnimation(70%, 20%);
        }
    }
}