/* variable */
// day mode
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON: hsl(234, 100%, 77%);

$NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE: hsl(0, 0%, 100%);
$NIGHTMODE_BORDER_WIDTH--NAVIGATION_BUTTON_LINE: 0.1rem;
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE: hsl(0, 0%, 100%);

// hover
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_HOVER: hsl(152, 84%, 7%);

$NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE_HOVER: hsl(159, 100%, 50%);
$NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE_HOVER: hsl(159, 100%, 50%);

/* mixin */
@mixin buttonAnimation($top, $width) {
    position: absolute;
    top: $top;
    right: 25%;
    width: $width;

    background-color: black;
    border-bottom: 2px solid black;
    transition: width 0.8s;
}

.NavigationButton {
    @include center-vertical();
    @include size(2.8rem, 2.8rem);
    @include circle-border();
    
    position: absolute;
    right: 0;

    background-color: white;

    &:hover {
        @include colors-transition(0.5s);

        background-color: black;

        & div {
            border-color: white;
            background-color: white;
        }
    }

    &__bar {
        height: 0;
    }

    &__first {
        &--off {
            @include buttonAnimation(25%, 50%);
        }
        &--on {
            @include buttonAnimation(25%, 40%);
        }
    }

    &__second {
        &--off {
            @include buttonAnimation(40%, 50%);
        }
        &--on {
            @include buttonAnimation(40%, 30%);
        }
    }

    &__third {
        &--off {
            @include buttonAnimation(55%, 50%);
        }
        &--on {
            @include buttonAnimation(55%, 20%);
        }
    }

    &__fourth {
        &--off {
            @include buttonAnimation(70%, 50%);
        }
        &--on {
            @include buttonAnimation(70%, 10%);
        }
    }

    &--night-mode {
        background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON;

        &:hover {
            @include colors-transition($BUTTON_TRANSITION_DELAY);

            background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_HOVER;

            & div {
                border-color: $NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE_HOVER;
                background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE_HOVER;
            }
        }

        & div {
            border-color: $NIGHTMODE_BORDER_COLOR--NAVIGATION_BUTTON_LINE;
            border-width: $NIGHTMODE_BORDER_WIDTH--NAVIGATION_BUTTON_LINE;
            background-color: $NIGHTMODE_BACKGROUND_COLOR--NAVIGATION_BUTTON_LINE;
        }
    }
}

@media (max-width: 425px) {
    .NavigationButton {
        @include size(2.5rem, 2.5rem);
    }
}