@mixin buttonAnimation($top, $width) {
    position: absolute;
    top: $top;
    right: 25%;
    width: $width;

    background-color: black;
    border: 1.5px solid black;
    transition: width 1s;
}

.NavigationButton {
    @include center-vertical();
    @include size(50px, 50px);
    @include circle-border();
    
    position: absolute;
    right: 0;

    background-color: white;

    &__first {
        &--off {
            @include buttonAnimation(25%, 50%);
        }
        &--on {
            @include buttonAnimation(25%, 50%);
        }
    }

    &__second {
        &--off {
            @include buttonAnimation(40%, 50%);
        }
        &--on {
            @include buttonAnimation(40%, 40%);
        }
    }

    &__third {
        &--off {
            @include buttonAnimation(55%, 50%);
        }
        &--on {
            @include buttonAnimation(55%, 30%);
        }
    }

    &__fourth {
        &--off {
            @include buttonAnimation(70%, 50%);
        }
        &--on {
            @include buttonAnimation(70%, 20%);
        }
    }
}