.App {
    @include size(100vw, 100vh);
    
    overflow-x: hidden;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    scroll-behavior: smooth;

    background-color: #F1E3D2;

    &__scroll {
        &--on {
            @include scroll-bar(true);
        }
        &--off {
            @include scroll-bar(false);
        }
    }
}