html {
    overflow: hidden;
}

.Lobby {
    position: relative;
    // @include setSize(80vw, 100vh);
    margin: auto;

    &__image {
        $imageLink: 'https://images.unsplash.com/photo-1564078516393-cf04bd966897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60';

        // @include moveCenter();
        // @include setSize(600px, 1000px);

        background-image: url($imageLink);
        background-position: center;
        background-size: cover;
    }

    &__circle {
        // @include moveCenter();
        // @include setSize(750px, 750px);
        border: 1px solid white;
        // @include circle();
        mix-blend-mode: difference;
    }

    &__title {
        // @include moveCenter();
    }
    
    &__text {
        text-align: center;
        font-size: 72px;
        font-family: 'Cinzel', serif;
        color: white;
        letter-spacing: 5px;
        mix-blend-mode: difference;
    }
}
