.BlogLobbyIntro {
    @include size(100%, 100vh);

    position: relative;

    &__container {
        @include size(65%, 65%);

        display: flex;
        position: relative;
        top: calc((100vh - 65%) / 2);
        margin: auto;
    }

    &__frame {
        @include size(50%, 100%);

        position: relative;
        transition: width 1s;
    }

    &__greeting {
        @include center-vertical();
        @include size(100%, 20%);

        position: relative;

        &--appear {
            @include fade-out-off();    

            left: 0;
            transition: left 1s;
        }

        &--disappear {
            @include fade-out-on(1.5s);

            left: 100%;
            transition: left 1s;
        }
    }

    &__greeting-content {
        @include size(100%, 50%);

        padding-left: 5rem;
    }

    &__greeting-welcom {
        font-family: 'Courier Prime', monospace;
        font-size: 2.6rem;
    }

    &__greeting-display {
        font-family: 'Cinzel', serif;
        font-size: 3rem;
    }

    &__greeting-caret {
        @include size(1.25rem, 1.25rem);
    }
}

@media (max-width: 1600px) {
    .BlogLobbyIntro {
        &__image-display {
            width: 0;
        }

        &__content-frame {
            @include size(100%, 100%);
        }

        &__greeting {
            min-width: 500px;
        }

        &__greeting-content {
            padding-left: 10%;
        }
    }
}

@media (max-width: 768px) {
    .BlogLobbyIntro {
        &__greeting-welcom {
            font-size: 1.5rem;
        }

        &__greeting {
            height: 15%;
            min-width: 0;
        }
    
        &__greeting-display {
            font-size: 1.8rem;
        }

        &__greeting-caret {
            @include size(1rem, 1rem);
        }
    }
}

@media (max-width: 425px) {
    .BlogLobbyIntro {
        &__greeting-welcom {
            font-size: 1rem;
        }

        &__greeting-display {
            font-size: 1.5rem;
        }
    }
}