.BlogLobbyAbout {
    // @include dev-inspector();
    @include size(100%, 100vh);

    position: relative;

    &__container {
        // @include dev-inspector();
        
        @include center();
        @include size(65%, 65%);

        position: relative;
        display: flex;
    }

    &__content {
        // @include dev-inspector();
        @include size(50%, 100%);
    }

    &__about {
        // @include dev-inspector();
        @include center-vertical();

        position: relative;
        transition: left 1s;

        &--appear {
            left: 0;
        }

        &--disappear {
            left: -100%;
        }
    }

    &__about-title {
        // @include dev-inspector();

        padding-left: 50px;
        // margin-bottom: 50px;

        font-family: 'Noto Serif KR', serif;
        font-size: 42px;
        text-decoration: underline;
    }

    &__about-paragraph {
        padding: 40px;
        
        font-family: 'Nanum Myeongjo', serif;
        font-size: 1.5rem;
    }

    &__about-text {
        margin-bottom: 10px;
    }

    &__picture {
        // @include dev-inspector();
    }
}