$IMAGE_APPEAR_DELAY: 1s;
$IMAGE_DISAPPEAR_DELAY: 2s;

.BlogLobby {
    // @include dev-inspector();
    @include size(inherit, inherit);
    max-width: 1800px;
    margin: auto;

    position: relative;

    &__picture-container {
        // @include dev-inspector();
        @include size(20% , 55%);

        position: fixed;
        overflow: hidden;

        transition: top 1s, left 1s, width 1s, height 1s;

        &--on {
            @include circle-border();
            @include size(22.8rem, 22.8rem);
        }
    }

    &__picture {
        // @include dev-inspector();
        @include size(100% , 100%);

        position: absolute;
        top: 0;
        left: 100%;

        object-fit: cover;
        transition-delay: $IMAGE_DISAPPEAR_DELAY;
    }

    &__page {
        &-intro {
            top: 17.5%;
            left: 25%;
        }
        
        &-about {
            top: 17.5%;
            left: 55%;
        }

        &-skills {
            top: 17.5%;
            left: 25%;

            &--on {
                top: 36%;
                left: 18.8%;
            }
        }

        &-contact {
            top: 17.5%;
            left: 55%;
        }
    }

    &__image {
        &--disappear {
            left: 100%;
        }

        &--remain {
            left: 0;
        }

        &--appear {
            left: 0;

            z-index: 1;
            transition: left $IMAGE_APPEAR_DELAY;
        }
    }
}