.BlogLobbySkills {
    width: 100%;
    padding: 5%;
    // border: 1px solid cyan;

    text-align: center;
    font-family: 'Noto Serif KR', serif;

    &__title {
        text-align: center;
        margin: 20px auto;

        font-size: 2rem;
        text-decoration: underline;
        // border: 1px solid red;
    }
    &__content-container {
        display: inline-block;
        // border: 2px solid green;
        margin: auto;
        // text-align: center;
    }
    &__content {
        // border: 1px solid cornflowerblue;
    }
    &__subtitle {
        text-align: left;
        // width: 100%;
        margin:20px auto 10px auto;

        font-weight: lighter;
        font-size: 1.5rem;
        text-decoration: underline;

        // border: 1px solid cyan;
    }

    &__description-container {
        display: flex;
        flex-wrap: wrap;

        // border: 1px solid cyan;
        margin: auto;
    }
    &__description {
        display: flex;
        flex-direction: column;

        margin: 10px;
    }
    &__description-image {
        // @include setSize(100px, 100px);
        // border: 1px solid crimson;
    }
    &__description-text {
        // @include setSize(100px, 50px);
        text-align: center;

        font-size: 1.5rem;

        // border: 1px solid cornflowerblue;
    }
}