.BlogLobbyIntro {
    // @include dev-inspector();
    @include size(100%, 100vh);

    position: relative;

    &__frame-container {
        // @include dev-inspector();
        @include center();
        @include size(1200px, 800px);

        display: flex;
        position: relative;
    }

    &__frame {
        // @include dev-inspector();
        @include size(50%, 100%);
    }

    &__picture-frame {
        // @include dev-inspector();
        @include size(80%, 100%);

        margin-left: auto;
    }

    &__picture {
        @include size(100%, 100%);

        object-fit: cover;
    }

    &__greeting {
        // @include dev-inspector();
        @include center-vertical();
        @include size(100%, 20%);

        position: relative;
    }

    &__greeting-content {
        @include size(100%, 50%);

        padding-left: 80px;
    }

    &__greeting-welcom {
        font-family: 'Courier Prime', monospace;
        font-size: 42px;
    }

    &__greeting-display {
        font-family: 'Cinzel', serif;
        font-size: 48px;
    }

    &__greeting-caret {
        // @include dev-inspector();
        @include size(20px, 20px);
    }
}