.BlogLobbyAbout {
    @include size(100%, 100vh);

    position: relative;

    &__container {
        
        @include center();
        @include size(65%, 65%);

        position: relative;
        display: flex;
    }

    &__content {
        @include size(50%, 100%);
    }

    &__about {
        @include center-vertical();

        position: relative;
        transition: left 1s;

        &--appear {
            left: 0;
        }

        &--disappear {
            left: -100%;
        }
    }

    &__about-title {
        margin-left: 50px;

        font-family: 'Noto Serif KR', serif;
        font-size: 3rem;
        text-decoration: underline;
    }

    &__about-paragraph {
        padding: 2.5rem;
        
        font-family: 'Nanum Myeongjo', serif;
        font-size: 1.5rem;
    }

    &__about-text {
        margin-bottom: 0.625rem;
    }
}