.BlogLobbyContact {
    @include size(100%, 100vh);

    position: relative;

    &__container {
        @include center();
        @include size(65%, 65%);

        position: relative;
        display: flex;
    }

    &__content {
        @include size(50%, 100%);

        position: relative;
        transition: left 1s;

        &--appear {
            left: 0;
        }

        &--disappear {
            left: -100%;
        }
    }

    &__contact {
        @include center-vertical();

        position: relative;

        padding-left: 50px;
    }

    &__title {
        margin-bottom: 40px;

        font-family: 'Noto Serif KR', serif;
        font-size: 42px;
        text-decoration: underline;
    }

    &__form {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &__text {
        @include size(80%, 2.5rem);
        @include round-border(5px);

        margin-bottom: 15px;
        border: 1px solid gray;
        padding: 5px 20px;

        background-color: white;
    }

    &__text-area {
        @include size(80%, 12.5rem);

        padding: 15px 20px;

        overflow: auto;
    }

    &__form-message {
        @include size(87.5%, 1.5rem);

        padding: 0 20px;
        margin-bottom: 15px;
        
        background-color: hsl(159, 100%, 50%);
        text-align: center;
        transition: 1s;

        &--error {
            background-color: hsl(340, 85%, 61%);
        }

        &--night-mode {
            color: $DEEP_DARK;
        }
    }

    &__submit-container {
        @include size(100%, 3rem);

        display: flex;    
    }

    &__submit {
        @include size(25%, 100%);
        @include round-border(5px);

        border: 1px solid gray;
        margin-right: 3.5rem;

        text-align: center;
        color: white;
        background-color: gray;
        transition: background-color 1s;

        &--email-sent {
            background-color: hsl(166, 80%, 42%);
        }

        &--down {
            background-color: hsl(166, 80%, 32%);
        }
    }

    &__auth-key {
        @include size(0, 100%);
        @include round-border(5px);

        transition: width 0.5s;
        transition-delay: 1s;

        &--on {
            width: 45%;
            padding: 0px 15px;
            border: 1px solid gray;
            background-color: white;
        }
    }
}