.BlogLobbyAbout {
    @include size(100%, 100vh);

    position: relative;
    transition: width 1s;

    &__container {
        @include center();
        @include size(65%, 65%);

        position: relative;
        display: flex;
    }

    &__frame {
        @include size(50%, 100%);
    }

    &__about {
        @include center-vertical();

        position: relative;
        transition: left 1s;

        &--appear {
            left: 0;
        }

        &--disappear {
            left: -100%;
        }
    }

    &__about-title {
        margin-left: 2rem;
        margin-bottom: 2rem;

        font-family: 'Noto Serif KR', serif;
        font-size: 3rem;
        text-decoration: underline;
    }

    &__about-paragraph {
        margin-left: 2rem;
        
        font-family: 'Nanum Myeongjo', serif;
        font-size: 1.5rem;
    }

    &__about-text {
        margin-bottom: 0.625rem;
    }
}

@media (max-width: 1600px) {
    .BlogLobbyAbout {
        &__content-frame {
            @include size(100%, 100%);
        }

        &__image-display {
            width: 0;
        }
    }
}

@media (max-width: 768px) {
    .BlogLobbyAbout {
        &__container {
            @include size(90%, 90%);
        }

        &__about-title {
            font-size: 2.5rem;
        }

        &__about-paragraph {
            font-size: 1rem;
        }
    }
}

@media (max-width: 425px) {
    .BlogLobbyAbout {
        &__container {
            @include size(95%, 95%);
        }
        
        &__about-title {
            font-size: 2rem;
        }

        &__about-paragraph {
            font-size: 0.8rem;
        }
    }
}