.BlogLobbySkills {
    // @include dev-inspector();

    @include size(100%, 100vh);

    position: relative;

    &__container {
        // @include dev-inspector();
        @include center();
        @include size(65%, 65%);

        width: 80%;

        position: relative;
    }

    &__content-container {
        @include size(100%, 100%);

        display: flex;
    }

    &__category-section {
        // @include dev-inspector();
        @include size(50%, 100%);

        position: relative;
        transition: left 1s;

        &--appear {
            left: 50%;
        }

        &--disappear {
            left: 100%;
        }

        &--select-on {
            left: 0;
        }
    }

    &__circle-layout-container {
        @include center();
        @include size(37rem, 37rem);
        @include circle-border();

        position: absolute;
        border: 2px solid black;
    }

    &__item-section {
        @include dev-inspector();
        @include size(50%, 100%);

        display: none;
        position: relative;
        flex-direction: column;
    }

    &__title {
        @include center();        
        
        position: absolute;
        margin-bottom: 30px;

        font-family: 'Noto Serif KR', serif;
        font-size: 42px;
        text-decoration: underline;
    }

    &__item-container-list {
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
    }

    &__item-container {
        @include dev-inspector();
        display: flex;

        border: 1px solid pink;
    }

    &__item {
        @include size(10rem, 10rem);
    }

    &__item-title {
        // @include dev-inspector();
        @include size(100px, 100px);
    }

    &__item-description {
        @include dev-inspector();
        @include size(50px, 100%);
    }
}