.BlogLobbyIntro {
    // @include dev-inspector();
    @include size(100%, 100vh);

    position: relative;

    &__container {
        // @include dev-inspector();
        @include size(65%, 65%);

        display: flex;
        position: relative;
        top: calc((100vh - 65%) / 2);
        margin: auto;
    }

    &__frame {
        // @include dev-inspector();
        @include size(50%, 100%);
    }

    &__greeting {
        // @include dev-inspector();
        @include center-vertical();
        @include size(100%, 20%);

        position: relative;
        &--appear {
            @include fade-out-off();    

            left: 0;
            transition: left 1s;
        }

        &--disappear {
            @include fade-out-on(1.5s);

            left: 100%;
            transition: left 1s;
        }

        &-content {
            @include size(100%, 50%);
    
            padding-left: 80px;
        }
    
        &-welcom {
            font-family: 'Courier Prime', monospace;
            font-size: 42px;
        }
    
        &-display {
            font-family: 'Cinzel', serif;
            font-size: 48px;
        }
    
        &-caret {
            // @include dev-inspector();
            @include size(20px, 20px);
        }
    }
}