.BlogLobbySkills {
    @include size(100%, 100vh);

    position: relative;

    &__container {
        @include center();
        @include size(65%, 65%);

        width: 80%;

        position: relative;
    }

    &__content-container {
        @include size(100%, 100%);

        display: flex;
        flex-direction: column;
    }

    &__title {
        position: relative;
        top: 0;
        left: 0;

        padding-left: 50%;

        font-family: 'Noto Serif KR', serif;
        font-size: 42px;
        text-decoration: underline;
    }

    &__section-container {
        @include size(100%, 100%);
        position: relative;

        display: flex;
    }

    &__category-section {
        @include size(50%, 100%);

        position: relative;
        transition: left 1s;

        &--disappear {
            left: 100%;
        }

        &--appear {
            left: 50%;
        }

        &--select-on {
            left: 0;
        }
    }

    &__circle-layout-container {
        @include center-horizontal();
        @include size(37rem, 37rem);
        @include circle-border();

        position: absolute;
        border: 2px solid black;
    }

    &__item-section {
        @include size(50%, 100%);
        
        position: relative;
        transition: left 1s;

        &--disappear {
            top: 0;
            left: 100%;            
            @include fade-in-off();
        }

        &--appear {
            top: 0;
            left: 0;
            @include fade-in-on();
        }
    }

    &__items-container {
        @include center-horizontal();

        display: flex;
        flex-direction: column;
        position: absolute;

        width: 100%;
    }

    &__item-container-list {
        @include round-border(10px);

        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-bottom-width: 2px;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        
        transition: height 1s;
    }

    &__item-container {
        display: flex;
        width: 100%;

        border: 1px solid black;
    }

    &__item-toggle {
        @include size(5rem, 100%);

        position: relative;
    }

    &__item-toggle:hover &__item {
        @include disappear(1s);
    }

    &__item-toggle:hover &__item-title {
        @include appear(1s);
    }

    &__item {
        @include appear(1s);
        @include size(100%, 100%);

        position: absolute;
        top: 0;
        left: 0;
    }

    &__item-image {
        @include size(100%, 100%);
    }

    &__item-title {
        @include center;
        @include disappear(1s); 
        
        position: absolute;
    }

    &__item-description {
        @include size(5rem, 100%);
    }
}