.CircleLayout {
    @include dev-inspector();
    @include size(40rem, 40rem);
    @include circle-border();

    // transform: rotate(360);
    // transition: transform 1s;

    position: relative;

    &__category {
        position: absolute;
        transition-timing-function: linear;
    }
}