.CircleLayout {
    // @include dev-inspector();
    @include size(40rem, 40rem);
    @include circle-border();
    @include rotate(20s);

    position: relative;

    border: 3px solid floralwhite;
    

    &__category {
        @include dev-inspector();
        @include size(100px, 100px);
        @include rotate(20s, false);
        
        position: absolute;
    }

    &__category-title {
        border: 1px solid cadetblue;
        cursor: pointer;
    }
}