/* varibale */
$NIGHTMODE_BORDER_COLOR--FLOATING_UIS: hsl(234, 100%, 77%);
$NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS: hsl(234, 100%, 77%);
$NIGHTMODE_COLOR--FLOATING_UIS: hsl(0, 0%, 100%);

$NIGHTMODE_BORDER_COLOR--FLOATING_UIS_HOVER:hsl(152, 84%, 7%);
$NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS_HOVER: hsl(152, 84%, 7%);
$NIGHTMODE_COLOR--FLOATING_UIS_HOVER: hsl(159, 100%, 50%);

.FloatingUIs {
    position: fixed;

    &__ui-container {
        @include size(2.5rem, 6rem);
        @include round-border(50px);
        
        position: fixed;
        bottom: 2rem;

        &--fade-in-off {
            @include fade-in-off();
    
            bottom: 0;
        }
        
        &--fade-in-on {
            @include fade-in-on(1s);
    
            bottom: 3rem;
            transition: width 1s, bottom 1s;
        }
    }

    &__left-container {
        left: 2rem;
    }

    &__right-container {
        right: 2rem;
    }

    &__ui {
        @include center-horizontal();
        @include size(2rem, 2rem);
        @include circle-border();

        position: absolute;
        border: 0.2rem solid black;
        background-color: white;

        &::before {
            @include center();

            position: absolute;
            font-size: 1.5rem;
        }

        &:hover {
            border-color: hsl(0, 0%, 0%);
            background-color: hsl(0, 0%, 0%);
            color: hsl(0, 0%, 100%);
            
            @include colors-transition($BUTTON_TRANSITION_DELAY);
        }
    }

    &__ui-top {
        top: 5%;
    }

    &__ui-bottom {
        bottom: 5%;
    }

    &__night-mode-button {
        &--off {
            color: black;
            background-color:white;
        }
        &--on {
            color:white;
            background-color: black
        }
    }

    &--night-mode {
        & a, button {
            border-color: $NIGHTMODE_BORDER_COLOR--FLOATING_UIS;
            background-color: $NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS;
            color: $NIGHTMODE_COLOR--FLOATING_UIS;

            @include colors-transition($BUTTON_TRANSITION_DELAY);

            &:hover {
                border-color: $NIGHTMODE_BORDER_COLOR--FLOATING_UIS_HOVER;
                background-color: $NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS_HOVER;
                color: $NIGHTMODE_COLOR--FLOATING_UIS_HOVER;

                
            }
        }
    }
}

@media (max-width: 425px) {
    .FloatingUIs {
        &--fade-in-on {
            bottom: 2rem;
        }

        &__ui-container {
            @include size(50%, 2.5rem);
            
            display: flex;
            justify-content: space-around;
            bottom: 1.5rem;
        }

        &__left-container {
            left: 0rem;
        }
    
        &__right-container {
            right: 0rem;
        }
    
        
        &__ui {
            position: relative;
            top: 0;
            left: 0;

            transform: none;
        }
    }
}