/* varibale */
$NIGHTMODE_BORDER_COLOR--FLOATING_UIS: hsl(234, 100%, 77%);
$NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS: hsl(234, 100%, 77%);
$NIGHTMODE_COLOR--FLOATING_UIS: hsl(0, 0%, 100%);

.FloatingUIs {
    @include center-horizontal();
    @include size(calc(100% - 100px), 100px);

    position: fixed;
    z-index: 1;

    &--fade-in-off {
        @include fade-in-off();

        bottom: 0;
    }
    
    &--fade-in-on {
        @include fade-in-on();

        bottom: 50px;
        transition: bottom 1s;
    }

    &__ui-container {
        $width: 40px;
        @include size($width, 100%);
        @include round-border($width);
        
        position: absolute;
    }

    &__left-container {
        left: 0;
    }

    &__right-container {
        right: 0;
    }

    &__ui {
        @include center-horizontal();
        @include size(2rem, 2rem);
        @include circle-border();

        position: absolute;
        border: 0.2rem solid black;
        background-color: white;

        &::before {
            @include center();

            position: absolute;
            font-size: 1.5rem;
        }
    }

    &__ui-top {
        top: 5%;
    }

    &__ui-bottom {
        bottom: 5%;
    }

    &__night-mode-button {
        &--off {
            color: black;
            background-color:white;
        }
        &--on {
            color:white;
            background-color: black
        }
    }

    &--night-mode {
        & a, button {
            border-color: $NIGHTMODE_BORDER_COLOR--FLOATING_UIS;
            background-color: $NIGHTMODE_BACKGROUND_COLOR--FLOATING_UIS;
            color: $NIGHTMODE_COLOR--FLOATING_UIS;
        }
    }
}