$bottom: 40px;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ContactLinks {
    position: fixed;
    left: 2.5%;
    
    // @include setSize(60px, 120px);
    
    &--before {
        bottom: 0;
        opacity: 0;
    }
    &--after {
        bottom: $bottom;
        animation: fade-in 1.5s;
        transition: bottom 1s;
    }
    // border: 1px solid darkgoldenrod;
    // border-radius: ($bottom / 2);
}
///
.EmailLink {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    &__icon {
        font-size: 36px;
        transition: font-size 0.5s;
        &:hover {
            font-size: 48px;
            cursor: pointer;
        }
    }
}
///
.GitHubLink {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    
    &__icon {
        font-size: 36px;
        transition: font-size 0.5s;
        &:hover {
            font-size: 42px;
            cursor: pointer;
        }
    }
}
///
$bottom: 40px;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Controls {
    position: fixed;
    right: 2.5%;
    bottom: $bottom;
    // @include setSize(60px, 120px);

    &--before {
        bottom: 0;
        opacity: 0;
    }
    &--after {
        bottom: $bottom;
        animation: fade-in 1.5s;
        transition: bottom 1s;
    }
    // border: 1px solid cadetblue;
    // border-radius: ($bottom / 2);
}
///
.GoTop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &__icon {
        font-size: 36px;
        transition: font-size 0.5s;
        &:hover {
            font-size: 42px;
            cursor: pointer;
        }
    }
}
///
.NightMode {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    &__icon {
        font-size: 36px;
        transition: font-size 0.5s;
        &:hover {
            font-size: 42px;
            cursor: pointer;
        }
    }
}