$Navigation__slide-size: 30rem;

.Navigation {
    @include size($Navigation__slide-size, 100vh);

    position: fixed;
    top: 0;
    right: -$Navigation__slide-size;
    border: 2px solid black;

    background-color: $DAYMODE_BACKGROUND_COLOR;
    opacity: 0.8;
    transition: right 1s;

    &--on {
        right: 0;
    }

    &__header {
        @include size(100%, 15%);
        
        border: 1px solid black;
    }

    &__body {
        @include size(100%, 70%);
        
        border: 1px solid black;
    }

    &__footer {
        @include size(100%, 15%);

        border: 1px solid black;
    }
}

@media (max-width: 1440px) {
    .Navigation {

    }
}

@media (max-width: 1024px) {
    .Navigation {

    }
}

@media (max-width: 768px) {
    .Navigation {

    }
}

@media (max-width: 425px) {
    .Navigation {

    }
}