$ScrollButtons__gradient-size: 100%;

.ScrollButtons {
    @include size(2.5rem, 8rem);
    @include center-vertical();

    position: fixed;
    right: 2rem;

    transition: right 1s;

    &__button {
        @include size(100%, 48%);
        @include round-border(5px);
        
        position: absolute;

        background-position: 0 0, 100% 0;
        background-size: 2px 100%;
        background-repeat: no-repeat;
        
        transition: background-color 0.4s, color 0.4s;

        &:hover {
            cursor: pointer;

            background-repeat: repeat;
            color: white;
        }
    }
    
    &__button-up {
        top: 0;

        border-top: 2px solid black;
        background-image: 
        linear-gradient(to bottom, black 0%, $BLUR_BACKGROUND 100%), 
        linear-gradient(to bottom, black 0%, $BLUR_BACKGROUND 100%);

        &--night-mode-on {
            border-top: 2px solid $DAYMODE_BORDER_COLOR ;

            background-image: 
            linear-gradient(to bottom, $DAYMODE_BORDER_COLOR 0%, $BLUR_BACKGROUND 100%), 
            linear-gradient(to bottom, $DAYMODE_BORDER_COLOR 0%, $BLUR_BACKGROUND 100%);
        }
    }
    
    &__button-down {
        bottom: 0;
        
        border-bottom: 2px solid black;
        background-image: 
        linear-gradient(to top, black 0%, $DAYMODE_BACKGROUND_COLOR 100%), 
        linear-gradient(to top, black 0%, $DAYMODE_BACKGROUND_COLOR 100%);

        &--night-mode-on {
            border-bottom: 2px solid $DAYMODE_BORDER_COLOR ;

            background-image: 
            linear-gradient(to top, $DAYMODE_BORDER_COLOR 0%, $BLUR_BACKGROUND 100%), 
            linear-gradient(to top, $DAYMODE_BORDER_COLOR 0%, $BLUR_BACKGROUND 100%);
        }
    }

    &__button-icon {
        position: absolute;
    }

    &__button-icon-up {
        @include center-horizontal();

        top: 1rem;
    }
    
    &__button-icon-down {
        @include center-horizontal();
        
        bottom: 1rem;
    }
}