@charset "UTF-8";

 
.icon-plus-2:before { content: '\2b'; } /* '+' */
.icon-minus-1:before { content: '\2d'; } /* '-' */
.icon-left-fat:before { content: '\21c7'; } /* '⇇' */
.icon-up-fat:before { content: '\21c8'; } /* '⇈' */
.icon-right-fat:before { content: '\21c9'; } /* '⇉' */
.icon-down-fat:before { content: '\21ca'; } /* '⇊' */
.icon-left-bold:before { content: '\21d0'; } /* '⇐' */
.icon-up-bold:before { content: '\21d1'; } /* '⇑' */
.icon-right-bold:before { content: '\21d2'; } /* '⇒' */
.icon-down-bold:before { content: '\21d3'; } /* '⇓' */
.icon-th-list-2:before { content: '\2630'; } /* '☰' */
.icon-th-1:before { content: '\268f'; } /* '⚏' */
.icon-ok-4:before { content: '\2713'; } /* '✓' */
.icon-ok-circle-1:before { content: '\2714'; } /* '✔' */
.icon-cancel-3:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle-1:before { content: '\2716'; } /* '✖' */
.icon-cancel-2:before { content: '\274c'; } /* '❌' */
.icon-plus-circle-1:before { content: '\2795'; } /* '➕' */
.icon-minus-circle-1:before { content: '\2796'; } /* '➖' */
.icon-reply-outline:before { content: '\e005'; } /* '' */
.icon-reply:before { content: '\e006'; } /* '' */
.icon-forward-outline:before { content: '\e00a'; } /* '' */
.icon-forward:before { content: '\e00b'; } /* '' */
.icon-text-width:before { content: '\e025'; } /* '' */
.icon-text-height:before { content: '\e026'; } /* '' */
.icon-camera-outline:before { content: '\e037'; } /* '' */
.icon-camera:before { content: '\e038'; } /* '' */
.icon-block-outline:before { content: '\e039'; } /* '' */
.icon-upload-cloud:before { content: '\e048'; } /* '' */
.icon-code-outline:before { content: '\e049'; } /* '' */
.icon-code:before { content: '\e04a'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e051'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e053'; } /* '' */
.icon-cancel-circled:before { content: '\e054'; } /* '' */
.icon-divide-outline:before { content: '\e05a'; } /* '' */
.icon-divide:before { content: '\e05b'; } /* '' */
.icon-download-outline:before { content: '\e060'; } /* '' */
.icon-eq-outline:before { content: '\e065'; } /* '' */
.icon-eq:before { content: '\e066'; } /* '' */
.icon-export-outline:before { content: '\e067'; } /* '' */
.icon-export:before { content: '\e068'; } /* '' */
.icon-video:before { content: '\e06c'; } /* '' */
.icon-list:before { content: '\e080'; } /* '' */
.icon-picture-outline:before { content: '\e082'; } /* '' */
.icon-picture:before { content: '\e083'; } /* '' */
.icon-italic:before { content: '\e086'; } /* '' */
.icon-indent-right:before { content: '\e08a'; } /* '' */
.icon-indent-left:before { content: '\e08b'; } /* '' */
.icon-link-outline:before { content: '\e090'; } /* '' */
.icon-link:before { content: '\e091'; } /* '' */
.icon-fontsize:before { content: '\e094'; } /* '' */
.icon-font:before { content: '\e095'; } /* '' */
.icon-lock:before { content: '\e096'; } /* '' */
.icon-lock-filled:before { content: '\e097'; } /* '' */
.icon-lock-open:before { content: '\e098'; } /* '' */
.icon-lock-open-filled:before { content: '\e099'; } /* '' */
.icon-minus-outline:before { content: '\e0af'; } /* '' */
.icon-minus:before { content: '\e0b0'; } /* '' */
.icon-plus-outline:before { content: '\e0c0'; } /* '' */
.icon-plus:before { content: '\e0c1'; } /* '' */
.icon-bold:before { content: '\e0ce'; } /* '' */
.icon-align-right:before { content: '\e0d6'; } /* '' */
.icon-align-left:before { content: '\e0d7'; } /* '' */
.icon-align-justify:before { content: '\e0d8'; } /* '' */
.icon-align-center:before { content: '\e0d9'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e0ea'; } /* '' */
.icon-sort-alphabet:before { content: '\e0eb'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e0ec'; } /* '' */
.icon-sort-numeric:before { content: '\e0ed'; } /* '' */
.icon-th-large-outline:before { content: '\e0f9'; } /* '' */
.icon-th-large:before { content: '\e0fa'; } /* '' */
.icon-th-list-outline:before { content: '\e0fb'; } /* '' */
.icon-th-list:before { content: '\e0fc'; } /* '' */
.icon-menu-outline:before { content: '\e0fd'; } /* '' */
.icon-menu:before { content: '\e0fe'; } /* '' */
.icon-th-outline:before { content: '\e0ff'; } /* '' */
.icon-th:before { content: '\e100'; } /* '' */
.icon-cancel-outline:before { content: '\e108'; } /* '' */
.icon-cancel:before { content: '\e109'; } /* '' */
.icon-upload-outline:before { content: '\e10c'; } /* '' */
.icon-upload:before { content: '\e10d'; } /* '' */
.icon-videocam-outline:before { content: '\e114'; } /* '' */
.icon-videocam:before { content: '\e115'; } /* '' */
.icon-th-large-1:before { content: '\e708'; } /* '' */
.icon-arrows-cw:before { content: '\e760'; } /* '' */
.icon-cw-circle:before { content: '\e7a9'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-github-1:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-up-open-big:before { content: '\e805'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-down-open-mini:before { content: '\e807'; } /* '' */
.icon-up-open-mini:before { content: '\e808'; } /* '' */
.icon-attach-outline:before { content: '\e809'; } /* '' */
.icon-pin-outline:before { content: '\e80a'; } /* '' */
.icon-user-outline:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-ok-1:before { content: '\e80d'; } /* '' */
.icon-down-1:before { content: '\e80e'; } /* '' */
.icon-up-1:before { content: '\e80f'; } /* '' */
.icon-left:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-github-circled-1:before { content: '\e812'; } /* '' */
.icon-github-2:before { content: '\e813'; } /* '' */
.icon-down-open-2:before { content: '\e814'; } /* '' */
.icon-down:before { content: '\e815'; } /* '' */
.icon-left-open-1:before { content: '\e816'; } /* '' */
.icon-right-open-1:before { content: '\e817'; } /* '' */
.icon-up:before { content: '\e818'; } /* '' */
.icon-up-open-2:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-filter:before { content: '\e81b'; } /* '' */
.icon-rss:before { content: '\e81c'; } /* '' */
.icon-rss-1:before { content: '\e81d'; } /* '' */
.icon-rss-2:before { content: '\e81e'; } /* '' */
.icon-right-1:before { content: '\e81f'; } /* '' */
.icon-left-1:before { content: '\e820'; } /* '' */
.icon-moon-inv:before { content: '\e821'; } /* '' */
.icon-moon:before { content: '\e822'; } /* '' */
.icon-sun-inv:before { content: '\e823'; } /* '' */
.icon-check:before { content: '\e824'; } /* '' */
.icon-heart:before { content: '\e825'; } /* '' */
.icon-heart-empty:before { content: '\e826'; } /* '' */
.icon-user-add-outline:before { content: '\e827'; } /* '' */
.icon-sun:before { content: '\e828'; } /* '' */
.icon-user-add-1:before { content: '\e829'; } /* '' */
.icon-ok-outline:before { content: '\e82a'; } /* '' */
.icon-ok:before { content: '\e82b'; } /* '' */
.icon-pin:before { content: '\e82c'; } /* '' */
.icon-eye-outline:before { content: '\e82d'; } /* '' */
.icon-cog-outline:before { content: '\e82e'; } /* '' */
.icon-loop-alt-outline:before { content: '\e82f'; } /* '' */
.icon-sun-1:before { content: '\e830'; } /* '' */
.icon-moon-1:before { content: '\e831'; } /* '' */
.icon-power-outline:before { content: '\e832'; } /* '' */
.icon-power:before { content: '\e833'; } /* '' */
.icon-github-circled-2:before { content: '\e834'; } /* '' */
.icon-github-3:before { content: '\e835'; } /* '' */
.icon-down-small:before { content: '\e836'; } /* '' */
.icon-left-small:before { content: '\e837'; } /* '' */
.icon-right-small:before { content: '\e838'; } /* '' */
.icon-up-small:before { content: '\e839'; } /* '' */
.icon-mail-1:before { content: '\e83a'; } /* '' */
.icon-music-outline:before { content: '\e83b'; } /* '' */
.icon-star:before { content: '\e83c'; } /* '' */
.icon-star-filled:before { content: '\e83d'; } /* '' */
.icon-key:before { content: '\e83e'; } /* '' */
.icon-sun-filled:before { content: '\e83f'; } /* '' */
.icon-eye:before { content: '\e841'; } /* '' */
.icon-cog-1:before { content: '\e842'; } /* '' */
.icon-zoom-in-outline:before { content: '\e843'; } /* '' */
.icon-zoom-in:before { content: '\e844'; } /* '' */
.icon-zoom-out-outline:before { content: '\e845'; } /* '' */
.icon-zoom-out:before { content: '\e846'; } /* '' */
.icon-left-open-outline:before { content: '\e848'; } /* '' */
.icon-rss-outline:before { content: '\e84c'; } /* '' */
.icon-rss-3:before { content: '\e84d'; } /* '' */
.icon-wrench-outline:before { content: '\e84e'; } /* '' */
.icon-wrench:before { content: '\e84f'; } /* '' */
.icon-location:before { content: '\e850'; } /* '' */
.icon-map:before { content: '\e851'; } /* '' */
.icon-chat-alt:before { content: '\e852'; } /* '' */
.icon-feather:before { content: '\e853'; } /* '' */
.icon-bell:before { content: '\e854'; } /* '' */
.icon-direction-outline:before { content: '\e855'; } /* '' */
.icon-direction:before { content: '\e856'; } /* '' */
.icon-left-open-2:before { content: '\e857'; } /* '' */
.icon-right-open-outline:before { content: '\e858'; } /* '' */
.icon-right-open-2:before { content: '\e859'; } /* '' */
.icon-down-2:before { content: '\e85a'; } /* '' */
.icon-left-2:before { content: '\e85b'; } /* '' */
.icon-right-2:before { content: '\e85c'; } /* '' */
.icon-up-2:before { content: '\e85d'; } /* '' */
.icon-down-outline:before { content: '\e85e'; } /* '' */
.icon-left-outline:before { content: '\e85f'; } /* '' */
.icon-right-outline:before { content: '\e860'; } /* '' */
.icon-up-outline:before { content: '\e861'; } /* '' */
.icon-doc-add:before { content: '\e897'; } /* '' */
.icon-ok-2:before { content: '\e89b'; } /* '' */
.icon-plus-1:before { content: '\e89d'; } /* '' */
.icon-cancel-alt:before { content: '\e8a8'; } /* '' */
.icon-location-outline:before { content: '\e8b1'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e8b4'; } /* '' */
.icon-ok-3:before { content: '\e8b9'; } /* '' */
.icon-ok-circle:before { content: '\e8ba'; } /* '' */
.icon-cancel-1:before { content: '\e8bb'; } /* '' */
.icon-cancel-circle:before { content: '\e8bc'; } /* '' */
.icon-plus-circle:before { content: '\e8bd'; } /* '' */
.icon-minus-circle:before { content: '\e8be'; } /* '' */
.icon-bat1:before { content: '\e8c0'; } /* '' */
.icon-bat2:before { content: '\e8c1'; } /* '' */
.icon-bat3:before { content: '\e8c2'; } /* '' */
.icon-bat4:before { content: '\e8c3'; } /* '' */
.icon-bat-charge:before { content: '\e8c4'; } /* '' */
.icon-wifi-outline:before { content: '\e8c8'; } /* '' */
.icon-wifi:before { content: '\e8c9'; } /* '' */
.icon-cloud:before { content: '\e8d3'; } /* '' */
.icon-flash-outline:before { content: '\e8d4'; } /* '' */
.icon-flash:before { content: '\e8d5'; } /* '' */
.icon-music:before { content: '\e925'; } /* '' */
.icon-heart-1:before { content: '\e926'; } /* '' */
.icon-heart-filled:before { content: '\e927'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list-1:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-1:before { content: '\f06e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-camera-1:before { content: '\f4f7'; } /* '' */
.icon-picture-1:before { content: '🌄'; } /* '\1f304' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-key-inv:before { content: '🔑'; } /* '\1f511' */
.icon-lock-1:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open-1:before { content: '🔓'; } /* '\1f513' */
.icon-link-1:before { content: '🔗'; } /* '\1f517' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */