
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-github-1:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-up-open-big:before { content: '\e805'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-down-open-mini:before { content: '\e807'; } /* '' */
.icon-up-open-mini:before { content: '\e808'; } /* '' */
.icon-attach-outline:before { content: '\e809'; } /* '' */
.icon-pin-outline:before { content: '\e80a'; } /* '' */
.icon-user-outline:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-ok-1:before { content: '\e80d'; } /* '' */
.icon-down-1:before { content: '\e80e'; } /* '' */
.icon-up-1:before { content: '\e80f'; } /* '' */
.icon-left:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-github-circled-1:before { content: '\e812'; } /* '' */
.icon-github-2:before { content: '\e813'; } /* '' */
.icon-down-open-2:before { content: '\e814'; } /* '' */
.icon-down:before { content: '\e815'; } /* '' */
.icon-left-open-1:before { content: '\e816'; } /* '' */
.icon-right-open-1:before { content: '\e817'; } /* '' */
.icon-up:before { content: '\e818'; } /* '' */
.icon-up-open-2:before { content: '\e819'; } /* '' */
.icon-cog:before { content: '\e81a'; } /* '' */
.icon-filter:before { content: '\e81b'; } /* '' */
.icon-rss:before { content: '\e81c'; } /* '' */
.icon-rss-1:before { content: '\e81d'; } /* '' */
.icon-rss-2:before { content: '\e81e'; } /* '' */
.icon-right-1:before { content: '\e81f'; } /* '' */
.icon-left-1:before { content: '\e820'; } /* '' */
.icon-moon-inv:before { content: '\e821'; } /* '' */
.icon-moon:before { content: '\e822'; } /* '' */
.icon-sun-inv:before { content: '\e823'; } /* '' */
.icon-check:before { content: '\e824'; } /* '' */
.icon-heart:before { content: '\e825'; } /* '' */
.icon-heart-empty:before { content: '\e826'; } /* '' */
.icon-user-add-outline:before { content: '\e827'; } /* '' */
.icon-sun:before { content: '\e828'; } /* '' */
.icon-user-add-1:before { content: '\e829'; } /* '' */
.icon-ok-outline:before { content: '\e82a'; } /* '' */
.icon-ok:before { content: '\e82b'; } /* '' */
.icon-pin:before { content: '\e82c'; } /* '' */
.icon-eye-outline:before { content: '\e82d'; } /* '' */
.icon-cog-outline:before { content: '\e82e'; } /* '' */
.icon-loop-alt-outline:before { content: '\e82f'; } /* '' */
.icon-sun-1:before { content: '\e830'; } /* '' */
.icon-moon-1:before { content: '\e831'; } /* '' */
.icon-power-outline:before { content: '\e832'; } /* '' */
.icon-power:before { content: '\e833'; } /* '' */
.icon-github-circled-2:before { content: '\e834'; } /* '' */
.icon-github-3:before { content: '\e835'; } /* '' */
.icon-down-small:before { content: '\e836'; } /* '' */
.icon-left-small:before { content: '\e837'; } /* '' */
.icon-right-small:before { content: '\e838'; } /* '' */
.icon-up-small:before { content: '\e839'; } /* '' */
.icon-mail-1:before { content: '\e83a'; } /* '' */
.icon-music-outline:before { content: '\e83b'; } /* '' */
.icon-star:before { content: '\e83c'; } /* '' */
.icon-star-filled:before { content: '\e83d'; } /* '' */
.icon-key:before { content: '\e83e'; } /* '' */
.icon-sun-filled:before { content: '\e83f'; } /* '' */
.icon-key-inv:before { content: '\e840'; } /* '' */
.icon-eye:before { content: '\e841'; } /* '' */
.icon-cog-1:before { content: '\e842'; } /* '' */
.icon-zoom-in-outline:before { content: '\e843'; } /* '' */
.icon-zoom-in:before { content: '\e844'; } /* '' */
.icon-zoom-out-outline:before { content: '\e845'; } /* '' */
.icon-zoom-out:before { content: '\e846'; } /* '' */
.icon-picture-outline:before { content: '\e847'; } /* '' */
.icon-left-open-outline:before { content: '\e848'; } /* '' */
.icon-picture:before { content: '\e849'; } /* '' */
.icon-camera-outline:before { content: '\e84a'; } /* '' */
.icon-camera:before { content: '\e84b'; } /* '' */
.icon-rss-outline:before { content: '\e84c'; } /* '' */
.icon-rss-3:before { content: '\e84d'; } /* '' */
.icon-wrench-outline:before { content: '\e84e'; } /* '' */
.icon-wrench:before { content: '\e84f'; } /* '' */
.icon-location:before { content: '\e850'; } /* '' */
.icon-map:before { content: '\e851'; } /* '' */
.icon-chat-alt:before { content: '\e852'; } /* '' */
.icon-feather:before { content: '\e853'; } /* '' */
.icon-bell:before { content: '\e854'; } /* '' */
.icon-direction-outline:before { content: '\e855'; } /* '' */
.icon-direction:before { content: '\e856'; } /* '' */
.icon-left-open-2:before { content: '\e857'; } /* '' */
.icon-right-open-outline:before { content: '\e858'; } /* '' */
.icon-right-open-2:before { content: '\e859'; } /* '' */
.icon-down-2:before { content: '\e85a'; } /* '' */
.icon-left-2:before { content: '\e85b'; } /* '' */
.icon-right-2:before { content: '\e85c'; } /* '' */
.icon-up-2:before { content: '\e85d'; } /* '' */
.icon-down-outline:before { content: '\e85e'; } /* '' */
.icon-left-outline:before { content: '\e85f'; } /* '' */
.icon-right-outline:before { content: '\e860'; } /* '' */
.icon-up-outline:before { content: '\e861'; } /* '' */
.icon-th-outline:before { content: '\e862'; } /* '' */
.icon-th:before { content: '\e863'; } /* '' */
.icon-th-large-outline:before { content: '\e864'; } /* '' */
.icon-th-large:before { content: '\e865'; } /* '' */
.icon-th-list-outline:before { content: '\e866'; } /* '' */
.icon-th-list:before { content: '\e867'; } /* '' */
.icon-video:before { content: '\e868'; } /* '' */
.icon-videocam-outline:before { content: '\e869'; } /* '' */
.icon-videocam:before { content: '\e86a'; } /* '' */
.icon-cancel-circled:before { content: '\e86b'; } /* '' */
.icon-plus-outline:before { content: '\e86c'; } /* '' */
.icon-plus:before { content: '\e86d'; } /* '' */
.icon-cancel:before { content: '\e86e'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e86f'; } /* '' */
.icon-cancel-outline:before { content: '\e870'; } /* '' */
.icon-code:before { content: '\e871'; } /* '' */
.icon-minus-outline:before { content: '\e872'; } /* '' */
.icon-minus:before { content: '\e873'; } /* '' */
.icon-divide-outline:before { content: '\e874'; } /* '' */
.icon-divide:before { content: '\e875'; } /* '' */
.icon-eq-outline:before { content: '\e876'; } /* '' */
.icon-eq:before { content: '\e877'; } /* '' */
.icon-link-outline:before { content: '\e878'; } /* '' */
.icon-link:before { content: '\e879'; } /* '' */
.icon-lock:before { content: '\e87a'; } /* '' */
.icon-lock-filled:before { content: '\e87b'; } /* '' */
.icon-lock-open:before { content: '\e87c'; } /* '' */
.icon-lock-open-filled:before { content: '\e87d'; } /* '' */
.icon-download-outline:before { content: '\e87e'; } /* '' */
.icon-download:before { content: '\e87f'; } /* '' */
.icon-upload-outline:before { content: '\e880'; } /* '' */
.icon-upload:before { content: '\e881'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e882'; } /* '' */
.icon-upload-cloud:before { content: '\e883'; } /* '' */
.icon-reply-outline:before { content: '\e884'; } /* '' */
.icon-reply:before { content: '\e885'; } /* '' */
.icon-forward-outline:before { content: '\e886'; } /* '' */
.icon-forward:before { content: '\e887'; } /* '' */
.icon-code-outline:before { content: '\e888'; } /* '' */
.icon-export-outline:before { content: '\e889'; } /* '' */
.icon-export:before { content: '\e88a'; } /* '' */
.icon-block-outline:before { content: '\e88b'; } /* '' */
.icon-block:before { content: '\e88c'; } /* '' */
.icon-menu-outline:before { content: '\e88d'; } /* '' */
.icon-menu:before { content: '\e88e'; } /* '' */
.icon-minus-1:before { content: '\e88f'; } /* '' */
.icon-cancel-2:before { content: '\e890'; } /* '' */
.icon-plus-2:before { content: '\e891'; } /* '' */
.icon-down-bold:before { content: '\e892'; } /* '' */
.icon-left-bold:before { content: '\e893'; } /* '' */
.icon-right-bold:before { content: '\e894'; } /* '' */
.icon-up-bold:before { content: '\e895'; } /* '' */
.icon-down-fat:before { content: '\e896'; } /* '' */
.icon-doc-add:before { content: '\e897'; } /* '' */
.icon-left-fat:before { content: '\e898'; } /* '' */
.icon-right-fat:before { content: '\e899'; } /* '' */
.icon-up-fat:before { content: '\e89a'; } /* '' */
.icon-ok-2:before { content: '\e89b'; } /* '' */
.icon-text-width:before { content: '\e89c'; } /* '' */
.icon-plus-1:before { content: '\e89d'; } /* '' */
.icon-align-left:before { content: '\e89e'; } /* '' */
.icon-align-center:before { content: '\e89f'; } /* '' */
.icon-align-right:before { content: '\e8a0'; } /* '' */
.icon-align-justify:before { content: '\e8a1'; } /* '' */
.icon-list:before { content: '\e8a2'; } /* '' */
.icon-indent-left:before { content: '\e8a3'; } /* '' */
.icon-indent-right:before { content: '\e8a4'; } /* '' */
.icon-font:before { content: '\e8a5'; } /* '' */
.icon-fontsize:before { content: '\e8a6'; } /* '' */
.icon-bold:before { content: '\e8a7'; } /* '' */
.icon-cancel-alt:before { content: '\e8a8'; } /* '' */
.icon-italic:before { content: '\e8a9'; } /* '' */
.icon-text-height:before { content: '\e8aa'; } /* '' */
.icon-picture-1:before { content: '\e8ab'; } /* '' */
.icon-th-large-1:before { content: '\e8ac'; } /* '' */
.icon-th-1:before { content: '\e8ad'; } /* '' */
.icon-th-list-2:before { content: '\e8ae'; } /* '' */
.icon-ok-4:before { content: '\e8af'; } /* '' */
.icon-ok-circle-1:before { content: '\e8b0'; } /* '' */
.icon-location-outline:before { content: '\e8b1'; } /* '' */
.icon-cancel-3:before { content: '\e8b2'; } /* '' */
.icon-cancel-circle-1:before { content: '\e8b3'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e8b4'; } /* '' */
.icon-plus-circle-1:before { content: '\e8b5'; } /* '' */
.icon-minus-circle-1:before { content: '\e8b6'; } /* '' */
.icon-link-1:before { content: '\e8b7'; } /* '' */
.icon-attach:before { content: '\e8b8'; } /* '' */
.icon-ok-3:before { content: '\e8b9'; } /* '' */
.icon-ok-circle:before { content: '\e8ba'; } /* '' */
.icon-cancel-1:before { content: '\e8bb'; } /* '' */
.icon-cancel-circle:before { content: '\e8bc'; } /* '' */
.icon-plus-circle:before { content: '\e8bd'; } /* '' */
.icon-minus-circle:before { content: '\e8be'; } /* '' */
.icon-lock-1:before { content: '\e8bf'; } /* '' */
.icon-bat1:before { content: '\e8c0'; } /* '' */
.icon-bat2:before { content: '\e8c1'; } /* '' */
.icon-bat3:before { content: '\e8c2'; } /* '' */
.icon-bat4:before { content: '\e8c3'; } /* '' */
.icon-bat-charge:before { content: '\e8c4'; } /* '' */
.icon-lock-open-1:before { content: '\e8c5'; } /* '' */
.icon-arrows-cw:before { content: '\e8c6'; } /* '' */
.icon-cw-circle:before { content: '\e8c7'; } /* '' */
.icon-wifi-outline:before { content: '\e8c8'; } /* '' */
.icon-wifi:before { content: '\e8c9'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e8ca'; } /* '' */
.icon-sort-alphabet:before { content: '\e8cb'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e8cc'; } /* '' */
.icon-sort-numeric:before { content: '\e8cd'; } /* '' */
.icon-heart-2:before { content: '\e8ce'; } /* '' */
.icon-heart-empty-1:before { content: '\e8cf'; } /* '' */
.icon-phone:before { content: '\e8d0'; } /* '' */
.icon-thumbs-down:before { content: '\e8d1'; } /* '' */
.icon-thumbs-up:before { content: '\e8d2'; } /* '' */
.icon-cloud:before { content: '\e8d3'; } /* '' */
.icon-flash-outline:before { content: '\e8d4'; } /* '' */
.icon-flash:before { content: '\e8d5'; } /* '' */
.icon-login:before { content: '\e8d6'; } /* '' */
.icon-logout:before { content: '\e8d7'; } /* '' */
.icon-volume-off:before { content: '\e8d8'; } /* '' */
.icon-volume-down:before { content: '\e8d9'; } /* '' */
.icon-volume-up:before { content: '\e8da'; } /* '' */
.icon-resize-full:before { content: '\e8db'; } /* '' */
.icon-resize-small:before { content: '\e8dc'; } /* '' */
.icon-wrench-1:before { content: '\e8dd'; } /* '' */
.icon-cog-2:before { content: '\e8de'; } /* '' */
.icon-flash-1:before { content: '\e8df'; } /* '' */
.icon-cloud-1:before { content: '\e8e0'; } /* '' */
.icon-inbox:before { content: '\e8e1'; } /* '' */
.icon-align-left-1:before { content: '\e8e2'; } /* '' */
.icon-align-center-1:before { content: '\e8e3'; } /* '' */
.icon-align-right-1:before { content: '\e8e4'; } /* '' */
.icon-align-justify-1:before { content: '\e8e5'; } /* '' */
.icon-list-1:before { content: '\e8e6'; } /* '' */
.icon-text-height-1:before { content: '\e8e7'; } /* '' */
.icon-text-width-1:before { content: '\e8e8'; } /* '' */
.icon-indent-left-1:before { content: '\e8e9'; } /* '' */
.icon-indent-right-1:before { content: '\e8ea'; } /* '' */
.icon-italic-1:before { content: '\e8eb'; } /* '' */
.icon-bold-1:before { content: '\e8ec'; } /* '' */
.icon-font-1:before { content: '\e8ed'; } /* '' */
.icon-off:before { content: '\e8ee'; } /* '' */
.icon-block-1:before { content: '\e8ef'; } /* '' */
.icon-resize-full-1:before { content: '\e8f0'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e8f1'; } /* '' */
.icon-resize-small-1:before { content: '\e8f2'; } /* '' */
.icon-resize-small-alt:before { content: '\e8f3'; } /* '' */
.icon-pencil:before { content: '\e8f4'; } /* '' */
.icon-pen:before { content: '\e8f5'; } /* '' */
.icon-volume-off-1:before { content: '\e8f6'; } /* '' */
.icon-volume-low:before { content: '\e8f7'; } /* '' */
.icon-volume-middle:before { content: '\e8f8'; } /* '' */
.icon-volume-high:before { content: '\e8f9'; } /* '' */
.icon-phone-outline:before { content: '\e8fa'; } /* '' */
.icon-phone-1:before { content: '\e8fb'; } /* '' */
.icon-folder:before { content: '\e8fc'; } /* '' */
.icon-folder-add:before { content: '\e8fd'; } /* '' */
.icon-folder-delete:before { content: '\e8fe'; } /* '' */
.icon-archive:before { content: '\e8ff'; } /* '' */
.icon-box:before { content: '\e900'; } /* '' */
.icon-compass:before { content: '\e901'; } /* '' */
.icon-trash:before { content: '\e902'; } /* '' */
.icon-doc:before { content: '\e903'; } /* '' */
.icon-doc-text:before { content: '\e904'; } /* '' */
.icon-resize-full-outline:before { content: '\e905'; } /* '' */
.icon-resize-full-2:before { content: '\e906'; } /* '' */
.icon-resize-normal-outline:before { content: '\e907'; } /* '' */
.icon-resize-normal:before { content: '\e908'; } /* '' */
.icon-move-outline:before { content: '\e909'; } /* '' */
.icon-move-1:before { content: '\e90a'; } /* '' */
.icon-popup:before { content: '\e90b'; } /* '' */
.icon-basket:before { content: '\e90c'; } /* '' */
.icon-calendar-outlilne:before { content: '\e90d'; } /* '' */
.icon-calendar:before { content: '\e90e'; } /* '' */
.icon-mic-outline:before { content: '\e90f'; } /* '' */
.icon-mic:before { content: '\e910'; } /* '' */
.icon-doc-remove:before { content: '\e911'; } /* '' */
.icon-news:before { content: '\e912'; } /* '' */
.icon-attention:before { content: '\e913'; } /* '' */
.icon-attention-filled:before { content: '\e914'; } /* '' */
.icon-warning-empty:before { content: '\e915'; } /* '' */
.icon-warning:before { content: '\e916'; } /* '' */
.icon-contacts:before { content: '\e917'; } /* '' */
.icon-vcard:before { content: '\e918'; } /* '' */
.icon-address:before { content: '\e919'; } /* '' */
.icon-attach-1:before { content: '\e91a'; } /* '' */
.icon-info-outline:before { content: '\e91b'; } /* '' */
.icon-info:before { content: '\e91c'; } /* '' */
.icon-home-outline:before { content: '\e91d'; } /* '' */
.icon-home:before { content: '\e91e'; } /* '' */
.icon-tag:before { content: '\e91f'; } /* '' */
.icon-tags:before { content: '\e920'; } /* '' */
.icon-bookmark:before { content: '\e921'; } /* '' */
.icon-flag:before { content: '\e922'; } /* '' */
.icon-flag-filled:before { content: '\e923'; } /* '' */
.icon-thumbs-up-1:before { content: '\e924'; } /* '' */
.icon-music:before { content: '\e925'; } /* '' */
.icon-heart-1:before { content: '\e926'; } /* '' */
.icon-heart-filled:before { content: '\e927'; } /* '' */
.icon-thumbs-down-1:before { content: '\e928'; } /* '' */
.icon-edit:before { content: '\e929'; } /* '' */
.icon-print:before { content: '\e92a'; } /* '' */
.icon-comment:before { content: '\e92b'; } /* '' */
.icon-chat:before { content: '\e92c'; } /* '' */
.icon-search-outline:before { content: '\e92d'; } /* '' */
.icon-search:before { content: '\e92e'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e92f'; } /* '' */
.icon-loop-outline:before { content: '\e930'; } /* '' */
.icon-arrows-cw-1:before { content: '\e931'; } /* '' */
.icon-loop:before { content: '\e932'; } /* '' */
.icon-loop-alt:before { content: '\e933'; } /* '' */
.icon-shuffle:before { content: '\e934'; } /* '' */
.icon-play-outline:before { content: '\e935'; } /* '' */
.icon-play:before { content: '\e936'; } /* '' */
.icon-stop-outline:before { content: '\e937'; } /* '' */
.icon-stop:before { content: '\e938'; } /* '' */
.icon-pause-outline:before { content: '\e939'; } /* '' */
.icon-pause:before { content: '\e93a'; } /* '' */
.icon-fast-fw-outline:before { content: '\e93b'; } /* '' */
.icon-fast-fw:before { content: '\e93c'; } /* '' */
.icon-rewind-outline:before { content: '\e93d'; } /* '' */
.icon-rewind:before { content: '\e93e'; } /* '' */
.icon-record-outline:before { content: '\e93f'; } /* '' */
.icon-record:before { content: '\e940'; } /* '' */
.icon-eject-outline:before { content: '\e941'; } /* '' */
.icon-desktop:before { content: '\e942'; } /* '' */
.icon-laptop:before { content: '\e943'; } /* '' */
.icon-tablet:before { content: '\e944'; } /* '' */
.icon-mobile:before { content: '\e945'; } /* '' */
.icon-gift:before { content: '\e946'; } /* '' */
.icon-temperatire:before { content: '\e947'; } /* '' */
.icon-chart-outline:before { content: '\e948'; } /* '' */
.icon-chart:before { content: '\e949'; } /* '' */
.icon-chart-alt-outline:before { content: '\e94a'; } /* '' */
.icon-chart-alt:before { content: '\e94b'; } /* '' */
.icon-chart-bar-outline:before { content: '\e94c'; } /* '' */
.icon-chart-bar:before { content: '\e94d'; } /* '' */
.icon-chart-pie-outline:before { content: '\e94e'; } /* '' */
.icon-chart-pie:before { content: '\e94f'; } /* '' */
.icon-ticket:before { content: '\e950'; } /* '' */
.icon-credit-card:before { content: '\e951'; } /* '' */
.icon-clipboard:before { content: '\e952'; } /* '' */
.icon-database:before { content: '\e953'; } /* '' */
.icon-key-outline:before { content: '\e954'; } /* '' */
.icon-key-1:before { content: '\e955'; } /* '' */
.icon-flow-split:before { content: '\e956'; } /* '' */
.icon-flow-merge:before { content: '\e957'; } /* '' */
.icon-flow-parallel:before { content: '\e958'; } /* '' */
.icon-flow-cross:before { content: '\e959'; } /* '' */
.icon-waves-outline:before { content: '\e95a'; } /* '' */
.icon-waves:before { content: '\e95b'; } /* '' */
.icon-rain:before { content: '\e95c'; } /* '' */
.icon-cloud-sun:before { content: '\e95d'; } /* '' */
.icon-drizzle:before { content: '\e95e'; } /* '' */
.icon-snow:before { content: '\e95f'; } /* '' */
.icon-cloud-flash:before { content: '\e960'; } /* '' */
.icon-cloud-wind:before { content: '\e961'; } /* '' */
.icon-wind:before { content: '\e962'; } /* '' */
.icon-plane-outline:before { content: '\e963'; } /* '' */
.icon-plane:before { content: '\e964'; } /* '' */
.icon-leaf:before { content: '\e965'; } /* '' */
.icon-lifebuoy:before { content: '\e966'; } /* '' */
.icon-briefcase:before { content: '\e967'; } /* '' */
.icon-brush:before { content: '\e968'; } /* '' */
.icon-pipette:before { content: '\e969'; } /* '' */
.icon-contrast:before { content: '\e96a'; } /* '' */
.icon-globe-outline:before { content: '\e96b'; } /* '' */
.icon-globe:before { content: '\e96c'; } /* '' */
.icon-globe-alt-outline:before { content: '\e96d'; } /* '' */
.icon-globe-alt:before { content: '\e96e'; } /* '' */
.icon-eject:before { content: '\e96f'; } /* '' */
.icon-eject-alt-outline:before { content: '\e970'; } /* '' */
.icon-eject-alt:before { content: '\e971'; } /* '' */
.icon-popup-1:before { content: '\e972'; } /* '' */
.icon-cw:before { content: '\e973'; } /* '' */
.icon-cw-outline:before { content: '\e974'; } /* '' */
.icon-headphones:before { content: '\e975'; } /* '' */
.icon-clock:before { content: '\e976'; } /* '' */
.icon-wristwatch:before { content: '\e977'; } /* '' */
.icon-stopwatch:before { content: '\e978'; } /* '' */
.icon-lightbulb-1:before { content: '\e979'; } /* '' */
.icon-check-outline:before { content: '\e97a'; } /* '' */
.icon-check-1:before { content: '\e97b'; } /* '' */
.icon-plug:before { content: '\e97c'; } /* '' */
.icon-target-outline:before { content: '\e97d'; } /* '' */
.icon-target:before { content: '\e97e'; } /* '' */
.icon-certificate-outline:before { content: '\e97f'; } /* '' */
.icon-certificate:before { content: '\e980'; } /* '' */
.icon-scissors-outline:before { content: '\e981'; } /* '' */
.icon-scissors:before { content: '\e982'; } /* '' */
.icon-flask:before { content: '\e983'; } /* '' */
.icon-wine:before { content: '\e984'; } /* '' */
.icon-coffee:before { content: '\e985'; } /* '' */
.icon-beer:before { content: '\e986'; } /* '' */
.icon-anchor-outline:before { content: '\e987'; } /* '' */
.icon-anchor:before { content: '\e988'; } /* '' */
.icon-puzzle-outline:before { content: '\e989'; } /* '' */
.icon-puzzle:before { content: '\e98a'; } /* '' */
.icon-tree:before { content: '\e98b'; } /* '' */
.icon-calculator:before { content: '\e98c'; } /* '' */
.icon-infinity-outline:before { content: '\e98d'; } /* '' */
.icon-infinity:before { content: '\e98e'; } /* '' */
.icon-pi-outline:before { content: '\e98f'; } /* '' */
.icon-pi:before { content: '\e990'; } /* '' */
.icon-at:before { content: '\e991'; } /* '' */
.icon-at-circled:before { content: '\e992'; } /* '' */
.icon-lastfm-circled:before { content: '\e993'; } /* '' */
.icon-lastfm:before { content: '\e994'; } /* '' */
.icon-linkedin-circled:before { content: '\e995'; } /* '' */
.icon-linkedin:before { content: '\e996'; } /* '' */
.icon-pinterest-circled:before { content: '\e997'; } /* '' */
.icon-pinterest:before { content: '\e998'; } /* '' */
.icon-dribbble-circled:before { content: '\e999'; } /* '' */
.icon-dribbble:before { content: '\e99a'; } /* '' */
.icon-facebook-circled:before { content: '\e99b'; } /* '' */
.icon-facebook:before { content: '\e99c'; } /* '' */
.icon-flickr-circled:before { content: '\e99d'; } /* '' */
.icon-flickr:before { content: '\e99e'; } /* '' */
.icon-looped-square-outline:before { content: '\e99f'; } /* '' */
.icon-looped-square-interest:before { content: '\e9a0'; } /* '' */
.icon-skype-outline:before { content: '\e9a1'; } /* '' */
.icon-skype:before { content: '\e9a2'; } /* '' */
.icon-tumbler-circled:before { content: '\e9a3'; } /* '' */
.icon-tumbler:before { content: '\e9a4'; } /* '' */
.icon-twitter-circled:before { content: '\e9a5'; } /* '' */
.icon-twitter:before { content: '\e9a6'; } /* '' */
.icon-vimeo-circled:before { content: '\e9a7'; } /* '' */
.icon-vimeo:before { content: '\e9a8'; } /* '' */
.icon-users-outline:before { content: '\e9a9'; } /* '' */
.icon-users:before { content: '\e9aa'; } /* '' */
.icon-user-delete-outline:before { content: '\e9ab'; } /* '' */
.icon-user-delete:before { content: '\e9ac'; } /* '' */
.icon-equalizer:before { content: '\e9ad'; } /* '' */
.icon-terminal-1:before { content: '\e9ae'; } /* '' */
.icon-comment-1:before { content: '\e9af'; } /* '' */
.icon-comment-alt:before { content: '\e9b0'; } /* '' */
.icon-chat-1:before { content: '\e9b1'; } /* '' */
.icon-attention-1:before { content: '\e9b2'; } /* '' */
.icon-location-1:before { content: '\e9b3'; } /* '' */
.icon-doc-1:before { content: '\e9b4'; } /* '' */
.icon-docs-landscape:before { content: '\e9b5'; } /* '' */
.icon-folder-1:before { content: '\e9b6'; } /* '' */
.icon-archive-1:before { content: '\e9b7'; } /* '' */
.icon-rss-5:before { content: '\e9b8'; } /* '' */
.icon-rss-alt:before { content: '\e9b9'; } /* '' */
.icon-cog-3:before { content: '\e9ba'; } /* '' */
.icon-logout-1:before { content: '\e9bb'; } /* '' */
.icon-updown-circle:before { content: '\e9bc'; } /* '' */
.icon-target-1:before { content: '\e9bd'; } /* '' */
.icon-signal:before { content: '\e9be'; } /* '' */
.icon-clock-1:before { content: '\e9bf'; } /* '' */
.icon-block-2:before { content: '\e9c0'; } /* '' */
.icon-resize-full-3:before { content: '\e9c1'; } /* '' */
.icon-resize-full-circle:before { content: '\e9c2'; } /* '' */
.icon-popup-2:before { content: '\e9c3'; } /* '' */
.icon-left-open-3:before { content: '\e9c4'; } /* '' */
.icon-right-open-3:before { content: '\e9c5'; } /* '' */
.icon-tag-1:before { content: '\e9c6'; } /* '' */
.icon-reply-1:before { content: '\e9c7'; } /* '' */
.icon-reply-all:before { content: '\e9c8'; } /* '' */
.icon-forward-1:before { content: '\e9c9'; } /* '' */
.icon-code-1:before { content: '\e9ca'; } /* '' */
.icon-retweet:before { content: '\e9cb'; } /* '' */
.icon-search-1:before { content: '\e9cc'; } /* '' */
.icon-mail-2:before { content: '\e9cd'; } /* '' */
.icon-heart-3:before { content: '\e9ce'; } /* '' */
.icon-heart-empty-2:before { content: '\e9cf'; } /* '' */
.icon-star-1:before { content: '\e9d0'; } /* '' */
.icon-user-1:before { content: '\e9d1'; } /* '' */
.icon-video-1:before { content: '\e9d2'; } /* '' */
.icon-down-circle:before { content: '\e9d3'; } /* '' */
.icon-left-circle:before { content: '\e9d4'; } /* '' */
.icon-right-circle:before { content: '\e9d5'; } /* '' */
.icon-up-circle:before { content: '\e9d6'; } /* '' */
.icon-down-dir:before { content: '\e9d7'; } /* '' */
.icon-right-dir:before { content: '\e9d8'; } /* '' */
.icon-down-micro:before { content: '\e9d9'; } /* '' */
.icon-up-micro:before { content: '\e9da'; } /* '' */
.icon-cloud-2:before { content: '\e9db'; } /* '' */
.icon-font-2:before { content: '\e9dc'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list-1:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-ok-circled:before { content: '\f06d'; } /* '' */
.icon-cancel-circled-1:before { content: '\f06e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss-4:before { content: '\f09e'; } /* '' */
.icon-filter-1:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-sun-2:before { content: '\f185'; } /* '' */
.icon-moon-2:before { content: '\f186'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map-1:before { content: '\f279'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-camera-1:before { content: '\f4f7'; } /* '' */