@import 'style/common';

.Section {
    margin-top: 20px;
    // border: 1px solid chartreuse;

    &__self {

    }

    &__self-title {
        font-size: 32px;
        font-family: 'Cinzel', serif;
        color: white;
        letter-spacing: 5px;
    }

    &__categories {

    }
}
