$Navigation__slide-size: 30rem;

.Navigation {
    @include size($Navigation__slide-size, 100vh);

    position: fixed;
    top: 0;
    right: -$Navigation__slide-size;
    border: 2px solid black;

    background-color: $DAYMODE_BACKGROUND_COLOR;
    opacity: 0.9;
    transition: right 1s;

    &--on {
        right: 0;
    }

    &--night-mode-on {
        background-color: $BLUR_BACKGROUND;
    }
}

@media (max-width: 1440px) {
    .Navigation {
        width: 25rem;
    }
}

@media (max-width: 1024px) {
    .Navigation {

    }
}

@media (max-width: 768px) {
    .Navigation {
        padding-top: 0%;
        padding-bottom: 0%;
    }
}

@media (max-width: 425px) {
    .Navigation {
        width: 100vw;
        right: -100vw;

        padding-top: 15%;
        padding-bottom: 20%;

        &--on {
            right: 0;
        }
    }
}