.LoginButton {
    @include center();
    @include size(50%, 20%);

    position: absolute;
    border: 1px solid black;
    font-family: 'Noto Serif KR', serif;
    font-size: 1.3rem;

    background-color: red;

    &__text {
        @include size(100%, 100%);
    }
}