@import 'style/common';

@mixin BlogBase($backgroundColor) {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: $backgroundColor;
}

html {
    @include BlogBase(white);
    border: 1px solid red;
    body {
        @include BlogBase(white);
        border: 1px solid blue;
        .Blog {
            width: 95%;
            height: 100%;
            margin: auto;
        }
    }

}