@import 'style/common';

$pageHeight: 100vh;
$pageAmount: 3;
$totalHeight: $pageHeight * $pageAmount;
html {
    // width: 100vw;
    @include setSize(100vw, $totalHeight);
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none !important;
    }
    scroll-behavior: smooth;
    body {
        @include setSize(inherit, inherit);
        #root {
            @include setSize(inherit, inherit);
        }
        #App {
            @include setSize(inherit, inherit);
        }
        .Blog {
            @include setSize(inherit, inherit);
            width: 95vw;
            height: 100vh;
            margin: auto;
        }
    }

}