html, body {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    overflow: hidden;
    
}

body {
    border: 1px solid blue;
    background-color: #ffffff;
}

.Blog {
    width: 80%;
    height: 100%;
    margin: auto;
    border: 1px solid green;
}

.Blog__main-image {

}

.Blog__category-list {

}

.Blog__content-board {

}

.log__lastest-posts {

}

.Blog__introduction {

}

.Blog__post-list {

}