$IMAGE_APPEAR_DELAY: 1s;
$IMAGE_DISAPPEAR_DELAY: 2s;

.ImageDisplay {
    transition: top 1s, left 1s, width 1s, height 1s;

    top: 50%;
    transform: translateY(-50%);

    &__blog-lobby {
        @include size(20vw , 55vh);

        position: fixed;
        overflow: hidden;
        
        &--intro {
            left: 25%;
            transform: translate(0, -50%);
        }
        
        &--about {
            left: 55%;
            transform: translate(0, -50%);
        }

        &--skills {
            left: 25%;
            transform: translate(0, -50%);
            
            &--on {
                left: 5%;
            }
        }

        &--contact {
            left: 55%;
            transform: translate(0, -50%);
        }

        &--off {
            left: 5vw;

            width: 0;
        }
    }

    &__blog-lobby-skills {
        @include center();
        @include circle-border();
        @include size(0, 0);

        position: relative;
        overflow: hidden;

        &--on {
            @include size($CIRCLE_DISPLAY_INNER_CIRCLE_SIZE, $CIRCLE_DISPLAY_INNER_CIRCLE_SIZE);
        }
    }

    &__picture {
        @include size(100% , 100%);

        position: absolute;
        top: 0;
        left: 100%;

        object-fit: cover;
        transition-delay: $IMAGE_DISAPPEAR_DELAY;
    }

    &__image {
        &--disappear {
            left: 100%;
        }

        &--remain {
            left: 0;
        }

        &--appear {
            left: 0;

            z-index: 1;
            transition: left $IMAGE_APPEAR_DELAY;
        }
    }
}

@media (max-width: 1600px) {
    .ImageDisplay {
        &__blog-lobby {
            @include size(20vw, 60vh);

            top: 50vh;
            left: 100vw;
            transform: translate(-100%, -50%);
            &--skills {
                width: 0;
            }
        }

        &__blog-lobby-skills {
            @include size(16rem, 16rem);
        }
    }
}

@media (max-width: 1300px) {
    .ImageDisplay {
        &__blog-lobby-skills { 
            display: none;
        }
    }
}