.GoTop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &__icon {
        font-size: 36px;
        transition: font-size 0.5s;
        &:hover {
            font-size: 42px;
            cursor: pointer;
        }
    }
}