.ProgressBar {
    @include size(70%, 100%);

    display: flex;
    flex-direction: column;
    
    &__progress-number {
        @include size(100%, 50%);
    
        text-align: right;
    }
    
    &__progress-bar {
        @include size(100%, 50%);
        @include round-border(25px);
    
        overflow: hidden;
    
        border: 2px solid black;
        background-color: white;
    }
    
    &__progress-gauge {
        @include center-vertical();
        @include size(0%, 85%);
    
        position: relative;
        border: 2px solid black;
    
        transition-timing-function: ease;
        overflow: hidden;
    
        &--activated {
            transition-delay: 1s;
            transition: width 1.5s;
        }
    }
    
    &__progress-gauge-background {
        @include size(100%, 500%);
        @keyframes repeat-motion {
            from {
                top: -400%;
            }
            to {
                top: 0%;
            }
        }
    
        position: relative;
        left: 0;
        
        transition: background-color 1.5s;
    
        &--on {
            animation: repeat-motion 1s infinite;
            animation-timing-function: linear;
        }
    
        &--off {
            background: initial;
            background-color: black;
        }
    }
}