/* size */
@mixin full-viewport() {
    width: 100vw;
    height: 100vh;
}

/* position */
@mixin size($width: 0, $height: 0) {
    width: $width;
    height: $height;
}

@mixin center-vertical() {
    top: $MEDIAN;
    transform: translateY(-$MEDIAN);
}

@mixin center-horizontal() {
    left: $MEDIAN;
    transform: translateX(-$MEDIAN);
}

@mixin center() {
    top: $MEDIAN;
    left: $MEDIAN;
    transform: translate(-$MEDIAN, -$MEDIAN);
}

@mixin centerAt($position: relative) {
    position: $position;
    @include center();
}

/* flex */
@mixin flex() {
    display: flex;
}

@mixin flex-vertical() {
    @include flex();
    flex-direction: column;
}

/* margin */
@mixin auto-margin() {
    margin:auto
}

/* border */
@mixin circle-border() {
    border-radius: $MEDIAN;
}

@mixin round-border($width) {
    border-radius: $width / 2;
}

/* padding */

/* text-align */
@mixin center-content() {
    text-align: center;
}

/* scroll-bar */
@mixin scroll-bar($enable: true) {
    @if $enable {
        overflow: auto;
    } @else {
        overflow: hidden;
    }
}

/* animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin fade-in-off {
    opacity: 0;
}

@mixin fade-in-on {
    animation: fade-in 1.5s;    
}

/* dev */
@mixin dev-inspector() {
    background-color: rgb(random(256), random(256), random(256));
}
