/* global */
$MEDIAN: 50%;

/* clolor */
/* day mode */
$DAYMODE_BACKGROUND_COLOR: hsl(33, 53%, 88%);

/* night mode */
// default
$NIGHTMODE_BORDER_COLOR: hsl(232, 60%, 40%);
$NIGHTMODE_BORDER_WIDTH: 0.2rem;
$NIGHTMODE_BACKGROUND_COLOR: hsl(246, 50%, 8%);
$NIGHTMODE_COLOR: hsl(234, 100%, 77%);
$NIGHTMODE_FONT_WEIGHT: 500;

// text field
$NIGHTMODE_BORDER_COLOR--TEXT_FIELD: hsl(159, 100%, 50%);
$NIGHTMODE_BACKGROUND_COLOR--TEXT_FIELD: hsl(152, 84%, 7%);
$NIGHTMODE_COLOR--TEXT_FIELD: hsl(159, 100%, 50%);
$NIGHTMODE_FONT_SIZE--TEXT_FIELD: 1rem;
$NIGHTMODE_FONT_WEIGHT--TEXT_FIELD: 800;

// place holder
$NIGHTMODE_COLOR--PLACE_HOLDER: hsl(161, 83%, 24%);
$NIGHTMODE_FONT_SIZE--PLACE_HOLDER: 1rem;
$NIGHTMODE_FONT_WEIGHT--PLACE_HOLDER: 800;

// submit button
$NIGHTMODE_BORDER_COLOR--SUBMIT_BUTTON: hsl(159, 100%, 50%);
$NIGHTMODE_BACKGROUND_COLOR--SUBMIT_BUTTON: hsl(152, 84%, 7%);
$NIGHTMODE_BACKGROUND_COLOR--SUBMIT_BUTTON_HOVER: hsl(167, 100%, 50%);
$NIGHTMODE_COLOR--SUBMIT_BUTTON: hsl(231, 37%, 53%);
$NIGHTMODE_FONT_SIZE--SUBMIT_BUTTON: 1rem;
$NIGHTMODE_FONT_WEIGHT--SUBMIT_BUTTON: 700;



// examples
$TEXT_BACKGROUND: hsl(248, 46%, 9%);
$TEXT_PURPLE: hsl(293, 100%, 71%);
$TEXT_MILD_PURPLE: hsl(231, 37%, 53%);
$TEXT_RED: hsl(340, 85%, 61%);
$TEXT_BLUE: hsl(237, 100%, 51%);
$TEXT_DARK_BLUE: hsl(232, 60%, 40%);
$TEXT_SKYBLUE: hsl(189, 76%, 77%);



$HEADING_GREEN: hsl(159, 100%, 50%);
$HEADING_BACKGROUND: hsl(152, 84%, 7%);
$BUTTON_BACKGROUND: hsl(167, 100%, 50%);
$BUTTON_BACKGROUND_BLUR: hsl(161, 83%, 24%);

$CONTAINER_PURLE:hsl(254, 41%, 27%);
$CONTAINER_GRAY: hsl(242, 25%, 25%);

$BLUR_BACKGROUND: hsl(242, 41%, 19%);



