@import 'style/common';

$bottom: 40px;

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Controls {
    position: fixed;
    right: 2.5%;
    bottom: $bottom;
    @include setSize(60px, 120px);

    &--before {
        bottom: 0;
        opacity: 0;
    }
    &--after {
        bottom: $bottom;
        animation: fade-in 1.5s;
        transition: bottom 1s;
    }
    // border: 1px solid cadetblue;
    // border-radius: ($bottom / 2);
}