@import 'style/common';

.Login {
    @include moveVerticalCenter();
    left: 5%;
    @include setSize(60%, 50px);
    border: 1px solid darkgoldenrod;
    background-color: darkseagreen;
    cursor: pointer;

    &__content {
        @include moveCenter();
        border: 1px solid darkcyan;
    }

    &__content-text {
        @include moveCenter();
        // border: 1px solid saddlebrown;
    }
}